{
  "parser": "babel",
  "singleQuote": true,
  "bracketSpacing": true,
  "semi": false,
  "useTabs": false,
  "tabWidth": 2,
  "endOfLine": "lf",
  "trailingComma": "none",
  "arrowParens": "always",
  "jsxBracketSameLine": false,
  "jsxSingleQuote": false,
  "printWidth": 80
}