<section ng-app="app" ng-controller="exportController" class="export-page__grid">
  <p>Export will export {{config.exportParams.count}} emails on the following parameters:</p>
  <pre>{{ config | json }}</pre>
    <form
      type="POST"
      target="_blank"
      ng-submit="export()"
    >
      <md-grid-list
        md-cols="16"
        md-row-height="100px"
        class="form-grid"
      >
        <md-grid-tile md-rowspan="1" md-colspan="2">
          <input
            type="number"
            min="100"
            max="5000"
            step="100"
            ng-model="config.exportParams.count"
            ng-change="setDebug()"
          />
        </md-grid-tile>
        <md-grid-tile md-rowspan="1" md-colspan="2">
          <md-button
            type="submit"
            class="md-raised md-primary"
          >
            Export
          </md-button>
        </md-grid-tile>
      </md-grid-list>
    </form>
</section>
