<div class="auth-callback-page">
  <div class="header">
    <h3 class="container">Authentication Success. This window should automatically close.</h3>
    <!-- <p>If not, click <a href="javascript:()">here</a></p> -->
  </div>
</div>
